.App {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.data {
  display:flex;
  width:100%;
  flex-direction: column;
  align-items: center;

}

.data input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
}

.data button {
  width: 300px;
  height: 50px;
  margin-top: 15px;
}

.data button:hover {
  cursor: pointer;
  background-color: indianred;
}